<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>

	<!-- 1，数据库连接信息 -->
	<property name="dialect">
		org.hibernate.dialect.MySQL5InnoDBDialect
	</property>

	<!-- 2，其他配置 -->
	<property name="show_sql">true</property>
	<property name="hbm2ddl.auto">update</property>

	<!-- 3，导入映射文件 -->
	<mapping class="com.wenjun.oa.test.TestUser"/>
	<mapping class="com.wenjun.oa.bean.User"/>
	<mapping class="com.wenjun.oa.bean.Department"/>
	<mapping class="com.wenjun.oa.bean.Role"/>
	<mapping class="com.wenjun.oa.bean.Privilege"/>
	<mapping class="com.wenjun.oa.bean.LeaveBean"/>
	<mapping class="com.wenjun.oa.bean.LeaveApprover"/>
	<mapping class="com.wenjun.oa.bean.Message"/>
	<mapping class="com.wenjun.oa.bean.Notice"/>
	<mapping class="com.wenjun.oa.bean.Photo"/>
	<mapping class="com.wenjun.oa.bean.LeaveProgress"/>



</session-factory>

</hibernate-configuration>