<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>

	<!-- 1，数据库连接信息 -->
	<property name="dialect">
		org.hibernate.dialect.MySQL5InnoDBDialect
	</property>
	<!-- 
		<property name="connection.url">jdbc:mysql:///itcastoa0720</property>
		<property name="connection.driver_class">com.jdbc.mysql.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
	-->

	<!-- 2，其他配置 -->
	<property name="show_sql">true</property>
	<property name="hbm2ddl.auto">update</property>

	<!-- 3，导入映射文件 -->
	<!--<mapping resource="cn/itcast/oa/domain/User.hbm.xml" />-->
	<mapping class="com.wenjun.oa.test.TestUser"/>
	<mapping class="com.wenjun.oa.bean.User"/>
	<mapping class="com.wenjun.oa.bean.Department"/>
	<mapping class="com.wenjun.oa.bean.Role"/>
	<mapping class="com.wenjun.oa.bean.Privilege"/>




</session-factory>

</hibernate-configuration>